<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Карточка книги Angular</title>
        <!-- <script src="../libs/angular-1.5.3/angular.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">
        <section class="book-info">
            <h3>Карточка продукта:</h3>
            <p>Название книги: {{book.name}}</p>
            <p>Автор: {{book.author}}</p>
            <p>Количество страниц:
                {{book.pages}}, цена:
                {{book.price}} у.е.
            </p>
            <p>Жанр: {{book.genre}}</p>
            <p>Есть ли в наличии: {{book.inStock}}</p>
        </section class="book-info">
        <script src="js/step6/app.js"></script>
        <script src="js/step6/controllers.js"></script>

    </body>

</html>