<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Шаг 2 / Фреймворк AngularJS / Нетология</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <!-- <script src="../libs/Angular/angular.min.js"></script> -->
    </head>

    <body ng-app>

        <input ng-model="showText" type="checkbox">
        <input ng-model="showText" type="number" value="1">
        <h1 ng-show="showText">
            Hello, world!
        </h1>
        <h2 ng-show="showText">
            Hello, world!
        </h2>        
        <h3 ng-show="showText">
            Hello, world!
        </h3>
    </body>

</html>
