<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>ДЗ 6 / Фреймворк AngularJS / Нетология</title>
        <!-- <script src="../libs/angular-1.5.3/angular.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="genre">По жанру</option>
            <option value="name">По имени</option>
        </select>
        <ul>
            <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}} у.е.</p>
                <p>Жанр: {{book.genre}}</p>
                <a href="book-info.html">Карточка продукта</a>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>
        <script src="js/step6/app.js"></script>
        <script src="js/step6/controllers.js"></script>
    </body>

</html>
