<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 4 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="myQuery"><br><br>

        Сортировать по:
        <select ng-model="myOrderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="author">Автор</option>
            <option value="genre">Жанр</option>
        </select>
        {{myOrderProperty}}

        <ul>
            <li ng-repeat="book in books | filter:myQuery | orderBy:myOrderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}</p>
                <p>Жанр:
                    {{book.genre}}</p>
            </li>
        </ul>

        <p ng-show="myQuery">
            Выведены книги, содержащие
            {{myQuery}}
        </p>

        <script src="js/step3/app.js"></script>
        <script src="js/step3/controllers.js"></script>

    </body>

</html>
