<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 3 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        <ul>
            <li ng-repeat="singleBook in books">
                <h1>{{singleBook.name + ' - ' + singleBook.genre }}</h1>
                <p>{{singleBook.author}}, pages: {{singleBook.pages}}</p>
            </li>
        </ul>

        <script src="js/step3/app.js"></script>
        <script src="js/step3/controllers.js"></script>

    </body>

</html>
