<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 5 / Фреймворк AngularJS / Нетология</title>
        <!-- <script src="../libs/angular-1.5.3/angular.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <style>
            .ng-dirty.ng-invalid {
                border-color: #FA787E;
            }

            .ng-dirty.ng-valid {
                border-color: #78FA89;
            }

        </style>
    </head>

    <body ng-controller="BookDetailCtrl">

        <form name="bookForm" novalidate>

            <input ng-model="book.name" type="text" placeholder="Название" required/>
            <input ng-model="book.author" type="text" placeholder="Автор"/>

            <input type="submit" value="Добавить" ng-click="addBook(book)" ng-disabled="bookForm.$invalid"/>

        </form>

        <script src="js/step5/app.js"></script>
        <script src="js/step5/controllers.js"></script>

    </body>

</html>
